.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

button{
  margin: auto;
  margin-top: 2rem;
  display: flex;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 15px;
}

.refresh {
  padding:15px 40px;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}

.refresh:hover{
  background-color: #4ecca3;
}

.refresh:active {
  background-color: #4ecca3;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Lobster", cursive;
}
